* {
    margin: 0;
    padding: 0;
}

a {
    outline: none;
    text-decoration: none;
    color: #005db3;
}

a:hover {
    background: #3a3a3a;
}

.center {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

body {
    color: rgb(181, 179, 179);
    background-color: rgb(74, 74, 74);
}

.header-color {
    background-color: #222222;
    font-size: 24px;
}

.header {
    display: flex;
    text-decoration: none;
    align-items: center;
    gap: 20px;
    height: 75px;
}

.main {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.main_link_position {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    gap: 10px;
}

.main_link {
    color: #b39500;
}

table {
    border-spacing: 7px;
}

td {
    text-align: center;
    vertical-align: middle;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}