{% extends 'base.html' %}

{% block title %}
    Покупки за посделние {{ days_ago }} дней
{% endblock %}

{% block content %}
<table>
    <th>Наименование</th>
    <th>Цена</th>
    <th>Описание</th>
    <th>Количество</th>
    <th>Дата</th>
    {% for item in result %}
    <tr>
        <td>{{ item.name }}</td>
        <td>{{ item.price }}</td>
        <td>{{ item.description }}</td>
        <td>{{ item.lot }}</td>
        <td>{{ item.date }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
