{% extends 'base.html' %}

{% block title %}
    Покупки за посделние {{ days_ago }} дней
{% endblock %}

{% block content %}
<div class="main_link_position">
    <a class="main_link" href="{% url 'order_add' %}">Добавить заказ</a>
</div>
<table>
    <th>Заказчик</th>
    <th>Продукт</th>
    <th>Сумма заказа</th>
    <th>Дата</th>
    {% for item in result %}
    <tr>
        <td>{{ item.customer }}</td>
        <td>{{ item.product }}</td>
        <td>{{ item.total_order }}</td>
        <td>{{ item.date }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}